/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
}

body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	background-color: rgb(6, 170, 245) ;
	
	
}

p {
	margin-top: 0;
	text-align: justify;
}

h3 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 3px;
	margin-bottom: 0;
	color: hsl(49, 94%, 50%);
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #550eef;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #D4CDDC;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
	color: #ec1010;
}

abbr {
	border-bottom: none;
}


/* specific divs */
.page-wrapper {
	background: url() no-repeat top left;
	padding: 0 175px 0 110px;
	margin: 0;
	position: relative;
}

.intro {
	min-width: 470px;
	width: 100%;
}

header h1 {
	color:black;
	text-align: center;
	text-decoration: underline overline;
	
	font-size: xx-large;
 
}

header h2 {
	color: black;
	text-align:right;
	font-weight:700;
	letter-spacing:1px;
	line-height:0em;

}

header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both;
	margin: 20px 20px 20px 10px;
	width: 160px;
	float: left;
}

.summary p {
	font: italic 1.1em/2.2 georgia;
	text-align: center;
}

.preamble {
	clear: right;
	padding: 0px 10px 0 10px;
}

.supporting {
	padding-left: 10px;
	margin-bottom: 40px;
}

footer {
	text-align: center;
}

footer a:link,
footer a:visited {
	margin-right: 20px;
}

.sidebar {
	margin-left: 600px;
	position: absolute;
	background-image: url(sidebar.jpg);
	top: 0;
	right: 0;
}

.sidebar .wrapper {
	font: 10px verdana, sans-serif;
	background: transparent url() top left repeat-y;
	padding: 10px;
	margin-top: 150px;
	width: 130px;
}

.sidebar h3.select {
	background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left;
	margin: 10px 0 5px 0;
	width: 97px;
	height: 16px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	
}

.sidebar h3.archives {
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left;
	margin: 25px 0 5px 0;
	width: 57px;
	height: 14px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.sidebar h3.resources {
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left;
	margin: 25px 0 5px 0;
	width: 63px;
	height: 10px;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li {
	line-height: 1.3em;
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center;
	display: block;
	padding-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
}

.sidebar li a:link {
	color: #988F5E;
}

.sidebar li a:visited {
	color: #B3AE94;
}


.extra1 {
	background: transparent url() top left no-repeat;
	position: absolute;
	top: 40px;
	right: 0;
	width: 148px;
	height: 110px;
}